
body
{
    background-color:silver;
    color: grey;
    font-size:xx-large;
    text-align:center
    

}

h1
{
    background-color: lightslategrey;
    color:papayawhip;
}

h2
{
    background-color:lemonchiffon;
    color:moccasin;
    text-align: center;
    font-size:larger;
}

img
{
    width: 700;
    height: 500;
}
h3
{
    background-color:tan;
    color: white;
    text-align: center;
    font-size:smaller;
}